:root {
    --primary-color: rgb(60, 233, 207);
    --heading-font: 'Trirong', serif;
    --main-font: 'Source Sans Pro', sans-serif;
}

body {
    background: linear-gradient(rgb(255, 255, 255), rgb(178, 246, 236) 80%) no-repeat;
    margin: 15px;
    font-family: var(--main-font);

}

h1 {
    font-family: var(--heading-font);
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 60px;
}

 h2 {
    text-align: center;
    font-weight: bold;
    font-family: var(--heading-font);
}

h3 {
    font-weight: 500;
    font-size: 34px;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 1.1;
}

h5 {
    margin-top: 60px;
    margin-bottom: 160px;
}

footer {
    font-size: 10px;
}

.navbar-brand {
    font-family: var(--heading-font);
}

.active {
    font-weight: 600;
    color: var(--primary-color) !important;
}

.hero {
    text-align: center;
    margin-top: 150px;
}

.contact-link {
    background-color: var(--primary-color);
    margin: 80px;
}

.buttons:hover {
    background-color: white !important;
    border-color: var(--primary-color) !important;
}

.look-below {
    margin-top: 120px;
    margin-bottom: 170px;
}

.home-project-section p,
.home-contact-section p {
    font-size: 16px;
    margin-bottom: 10px;
}

.home-project-link {
    background-color: var(--primary-color);
    margin-top: 10px;
    padding: 5px 15px;
}

.home-project-section {
    text-align: center;
}

.weather-img {
    width: 91%;
}

.home-contact-section {
    text-align: center;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.771);
    padding: 16px;
    margin-left: 120px;
    margin-right: 120px;
}

.home-contact-links a {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 16px;
}

.home-contact-links a:hover {
    color: var(--primary-color);
}

.nav-link:hover {
    color: var(--primary-color) !important;
    
}
.content-about {
margin-left: 70px;
margin-right: 70px;
}


.about-description {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.about-link {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

.about-link:hover {
    font-weight: 600;
    color: black;
}

.project-description {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.project-description p {
    font-size: 20px;
 }

 .project-item {
    background-color:rgba(255, 255, 255, 0.518);
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
 }

 .contact-links {
    margin: 100px;
    background-color: rgba(255, 255, 255, 0.771);
    padding: 5px;
    border-radius: 4px;
 }

 .contact-links p {
    margin-top: 60px;
    margin-bottom: 60px;
 }
 
 .contact-links a {
    text-decoration: none;
    color: black;
 }

 .contact-links a:hover {
    text-decoration: underline;
    font-weight: 600;
 }


/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Trirong', serif;

/*#ACEBE7